USE [master]
GO
/****** Object:  Database [AgroControl]    Script Date: 19.05.2026 14:07:43 ******/
CREATE DATABASE [AgroControl]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AgroControl', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AgroControl.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AgroControl_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AgroControl_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgroControl].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgroControl]
GO
/****** Object:  Table [dbo].[Выполнение_шагов]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Выполнение_шагов](
	[Ид_выполнения] [int] IDENTITY(1,1) NOT NULL,
	[Ид_партии] [int] NOT NULL,
	[Номер_шага] [int] NOT NULL,
	[Наименование_шага] [nvarchar](200) NOT NULL,
	[Температура_план_C] [decimal](8, 2) NULL,
	[Длительность_план_мин] [int] NULL,
	[Давление_план_бар] [decimal](8, 2) NULL,
	[Температура_факт_C] [decimal](8, 2) NULL,
	[Длительность_факт_мин] [int] NULL,
	[Давление_факт_бар] [decimal](8, 2) NULL,
	[Время_начала_шага] [datetime] NULL,
	[Время_окончания_шага] [datetime] NULL,
	[Есть_отклонение] [bit] NULL,
	[Комментарий_оператора] [nvarchar](max) NULL,
	[Кем_начат] [int] NULL,
	[Кем_завершен] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ид_выполнения] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Журнал_событий]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Журнал_событий](
	[Ид_события] [int] IDENTITY(1,1) NOT NULL,
	[Ид_типа_события] [int] NOT NULL,
	[Ид_партии] [int] NULL,
	[Ид_пользователя] [int] NULL,
	[Текст_события] [nvarchar](max) NOT NULL,
	[Данные_события] [nvarchar](max) NULL,
	[Дата_создания] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ид_события] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[История_статусов]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[История_статусов](
	[Ид_истории] [int] IDENTITY(1,1) NOT NULL,
	[Тип_сущности] [nvarchar](50) NOT NULL,
	[Ид_сущности] [int] NOT NULL,
	[Статус_старый] [nvarchar](50) NULL,
	[Статус_новый] [nvarchar](50) NOT NULL,
	[Кем_изменен] [int] NOT NULL,
	[Дата_изменения] [datetime] NULL,
	[Комментарий] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ид_истории] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Контроль_качества]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Контроль_качества](
	[Ид_контроля] [int] IDENTITY(1,1) NOT NULL,
	[Ид_партии] [int] NULL,
	[Ид_партии_сырья] [int] NULL,
	[Дата_анализа] [datetime] NOT NULL,
	[Тип_образца] [nvarchar](50) NOT NULL,
	[Наименование_параметра] [nvarchar](100) NOT NULL,
	[Значение_факт] [nvarchar](100) NOT NULL,
	[Значение_норма] [nvarchar](100) NOT NULL,
	[Единица_измерения] [nvarchar](20) NULL,
	[Результат] [nvarchar](20) NOT NULL,
	[Решение] [nvarchar](50) NULL,
	[Комментарий_лаборанта] [nvarchar](max) NULL,
	[Ид_лаборанта] [int] NOT NULL,
	[Дата_создания] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ид_контроля] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Оборудование]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Оборудование](
	[Ид_оборудования] [int] IDENTITY(1,1) NOT NULL,
	[Код_оборудования] [nvarchar](50) NOT NULL,
	[Наименование_оборудования] [nvarchar](200) NOT NULL,
	[Местоположение] [nvarchar](100) NULL,
	[Активен] [bit] NULL,
	[Дата_создания] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ид_оборудования] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Партии_сырья]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Партии_сырья](
	[Ид_партии_сырья] [int] IDENTITY(1,1) NOT NULL,
	[Ид_сырья] [int] NOT NULL,
	[Номер_партии] [nvarchar](50) NOT NULL,
	[Номер_партии_поставщика] [nvarchar](50) NULL,
	[Поставщик] [nvarchar](200) NULL,
	[Количество] [decimal](12, 2) NOT NULL,
	[Единица_измерения] [nvarchar](20) NOT NULL,
	[Дата_поступления] [date] NOT NULL,
	[Лабораторный_статус] [nvarchar](50) NULL,
	[Кем_принято_решение] [int] NULL,
	[Дата_решения] [datetime] NULL,
	[Комментарий_решения] [nvarchar](max) NULL,
	[Дата_создания] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ид_партии_сырья] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Партии_сырья_в_производстве]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Партии_сырья_в_производстве](
	[Ид_связи] [int] IDENTITY(1,1) NOT NULL,
	[Ид_партии] [int] NOT NULL,
	[Ид_партии_сырья] [int] NOT NULL,
	[Количество_использовано] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ид_связи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Подразделения]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Подразделения](
	[Ид_подразделения] [int] IDENTITY(1,1) NOT NULL,
	[Наименование_подразделения] [nvarchar](100) NOT NULL,
	[Ид_родительского_подразделения] [int] NULL,
	[Дата_создания] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ид_подразделения] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[Ид_пользователя] [int] IDENTITY(1,1) NOT NULL,
	[Логин] [nvarchar](50) NOT NULL,
	[Хэш_пароля] [nvarchar](255) NOT NULL,
	[ФИО] [nvarchar](200) NOT NULL,
	[Ид_роли] [int] NOT NULL,
	[Ид_подразделения] [int] NULL,
	[Email] [nvarchar](100) NULL,
	[Телефон] [nvarchar](20) NULL,
	[Активен] [bit] NULL,
	[Последний_вход] [datetime] NULL,
	[Дата_создания] [datetime] NULL,
	[Кем_создан] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ид_пользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Продукция]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Продукция](
	[Ид_продукта] [int] IDENTITY(1,1) NOT NULL,
	[Код_продукта] [nvarchar](50) NOT NULL,
	[Наименование_продукта] [nvarchar](200) NOT NULL,
	[Ид_типа_продукции] [int] NOT NULL,
	[Форма_выпуска] [nvarchar](50) NULL,
	[Статус] [nvarchar](20) NOT NULL,
	[Дата_создания] [datetime] NULL,
	[Кем_создан] [int] NULL,
	[Дата_обновления] [datetime] NULL,
	[Кем_обновлен] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ид_продукта] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Производственные_заказы]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Производственные_заказы](
	[Ид_заказа] [int] IDENTITY(1,1) NOT NULL,
	[Номер_заказа] [nvarchar](50) NOT NULL,
	[Ид_рецептуры] [int] NOT NULL,
	[План_количество_кг] [decimal](12, 2) NOT NULL,
	[Статус] [nvarchar](50) NOT NULL,
	[Плановая_дата_начала] [date] NOT NULL,
	[Кем_создан] [int] NOT NULL,
	[Дата_создания] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ид_заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Производственные_партии]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Производственные_партии](
	[Ид_партии] [int] IDENTITY(1,1) NOT NULL,
	[Номер_партии] [nvarchar](50) NOT NULL,
	[Ид_заказа] [int] NOT NULL,
	[Время_начала] [datetime] NULL,
	[Время_окончания] [datetime] NULL,
	[Статус] [nvarchar](50) NOT NULL,
	[Факт_количество_кг] [decimal](12, 2) NULL,
	[Есть_отклонения] [bit] NULL,
	[Дата_создания] [datetime] NULL,
	[Кем_запущена] [int] NULL,
	[Кем_завершена] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ид_партии] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Рецептуры]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Рецептуры](
	[Ид_рецептуры] [int] IDENTITY(1,1) NOT NULL,
	[Ид_продукта] [int] NOT NULL,
	[Версия] [int] NOT NULL,
	[Наименование] [nvarchar](200) NOT NULL,
	[Статус] [nvarchar](50) NOT NULL,
	[Кем_создан] [int] NOT NULL,
	[Дата_создания] [datetime] NULL,
	[Кем_утвержден] [int] NULL,
	[Дата_утверждения] [datetime] NULL,
	[Кем_архивирован] [int] NULL,
	[Дата_архивации] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ид_рецептуры] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Роли]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роли](
	[Ид_роли] [int] IDENTITY(1,1) NOT NULL,
	[Наименование_роли] [nvarchar](50) NOT NULL,
	[Описание_роли] [nvarchar](200) NULL,
	[Дата_создания] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ид_роли] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Состав_рецептуры]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Состав_рецептуры](
	[Ид_компонента] [int] IDENTITY(1,1) NOT NULL,
	[Ид_рецептуры] [int] NOT NULL,
	[Ид_сырья] [int] NOT NULL,
	[Доля_процент] [decimal](10, 4) NOT NULL,
	[Порядок_загрузки] [int] NOT NULL,
	[Допуск_мин] [decimal](10, 4) NULL,
	[Допуск_макс] [decimal](10, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ид_компонента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сырье]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сырье](
	[Ид_сырья] [int] IDENTITY(1,1) NOT NULL,
	[Код_сырья] [nvarchar](50) NOT NULL,
	[Наименование_сырья] [nvarchar](200) NOT NULL,
	[Единица_измерения] [nvarchar](20) NOT NULL,
	[Категория] [nvarchar](50) NULL,
	[Активен] [bit] NULL,
	[Дата_создания] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ид_сырья] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Технологические_карты]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Технологические_карты](
	[Ид_техкарты] [int] IDENTITY(1,1) NOT NULL,
	[Ид_продукта] [int] NOT NULL,
	[Версия] [int] NOT NULL,
	[Наименование] [nvarchar](200) NOT NULL,
	[Статус] [nvarchar](50) NOT NULL,
	[Кем_создан] [int] NOT NULL,
	[Дата_создания] [datetime] NULL,
	[Кем_утвержден] [int] NULL,
	[Дата_утверждения] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ид_техкарты] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Типы_продукции]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Типы_продукции](
	[Ид_типа_продукции] [int] IDENTITY(1,1) NOT NULL,
	[Наименование_типа] [nvarchar](50) NOT NULL,
	[Код_типа] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ид_типа_продукции] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Типы_событий]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Типы_событий](
	[Ид_типа_события] [int] IDENTITY(1,1) NOT NULL,
	[Наименование_типа] [nvarchar](50) NOT NULL,
	[Уровень_важности] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ид_типа_события] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Шаги_техкарты]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Шаги_техкарты](
	[Ид_шага] [int] IDENTITY(1,1) NOT NULL,
	[Ид_техкарты] [int] NOT NULL,
	[Номер_шага] [int] NOT NULL,
	[Наименование_шага] [nvarchar](200) NOT NULL,
	[Тип_шага] [nvarchar](50) NOT NULL,
	[Температура_план_C] [decimal](8, 2) NULL,
	[Допуск_температуры_C] [decimal](8, 2) NULL,
	[Давление_план_бар] [decimal](8, 2) NULL,
	[Допуск_давления_бар] [decimal](8, 2) NULL,
	[Длительность_план_мин] [int] NULL,
	[Допуск_длительности_мин] [int] NULL,
	[Обязательный_шаг] [bit] NULL,
	[Инструкция] [nvarchar](max) NULL,
	[Ид_оборудования] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ид_шага] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_АктивныеПартии]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_АктивныеПартии]
AS
SELECT 
    пп.Ид_партии,
    пп.Номер_партии,
    пр.Наименование_продукта,
    об.Местоположение AS Линия,
    пп.Время_начала,
    -- Текущий шаг
    (
        SELECT TOP 1 Наименование_шага
        FROM Выполнение_шагов
        WHERE Ид_партии = пп.Ид_партии
          AND Время_начала_шага IS NOT NULL
          AND Время_окончания_шага IS NULL
        ORDER BY Номер_шага
    ) AS Текущий_шаг,
    пп.Статус AS Статус_партии,
    пп.Есть_отклонения AS Есть_отклонения
FROM Производственные_партии пп
INNER JOIN Производственные_заказы пз ON пп.Ид_заказа = пз.Ид_заказа
INNER JOIN Рецептуры р ON пз.Ид_рецептуры = р.Ид_рецептуры
INNER JOIN Продукция пр ON р.Ид_продукта = пр.Ид_продукта
LEFT JOIN Оборудование об ON 1=0
WHERE пп.Статус = 'выполняется';
GO
/****** Object:  View [dbo].[v_ДашбордТехнолога]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_ДашбордТехнолога]
AS
SELECT 
    (SELECT COUNT(*) FROM Продукция WHERE Статус = 'активен') AS Активных_продуктов,
    (SELECT COUNT(*) FROM Рецептуры WHERE Статус = 'активна') AS Действующих_рецептур,
    (SELECT COUNT(*) FROM Технологические_карты WHERE Статус = 'активна') AS Действующих_техкарт,
    (SELECT COUNT(*) FROM Производственные_заказы WHERE Статус = 'выполняется') AS Заказов_в_работе,
    (SELECT COUNT(*) FROM Производственные_партии WHERE Статус = 'выполняется') AS Партий_в_производстве,
    (SELECT COUNT(*) FROM Производственные_партии WHERE Есть_отклонения = 1) AS Партий_с_отклонениями,
    (SELECT COUNT(DISTINCT пп.Ид_партии) 
     FROM Производственные_партии пп
     WHERE пп.Статус = 'завершена' 
       AND NOT EXISTS (
           SELECT 1 FROM Контроль_качества кк 
           WHERE кк.Ид_партии = пп.Ид_партии 
             AND кк.Тип_образца = 'готовая_продукция'
             AND кк.Решение IS NOT NULL
       )) AS Партий_ожидают_лабораторию;
GO
/****** Object:  View [dbo].[v_ЛабораторныеБлокировки]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_ЛабораторныеБлокировки]
AS
SELECT 
    пп.Номер_партии,
    пр.Наименование_продукта,
    кк.Дата_анализа AS Дата_блокировки,
    кк.Наименование_параметра,
    кк.Значение_факт,
    кк.Значение_норма,
    кк.Комментарий_лаборанта AS Причина,
    пол.ФИО AS Лаборант,
    кк.Решение
FROM Контроль_качества кк
INNER JOIN Производственные_партии пп ON кк.Ид_партии = пп.Ид_партии
INNER JOIN Производственные_заказы пз ON пп.Ид_заказа = пз.Ид_заказа
INNER JOIN Рецептуры р ON пз.Ид_рецептуры = р.Ид_рецептуры
INNER JOIN Продукция пр ON р.Ид_продукта = пр.Ид_продукта
INNER JOIN Пользователи пол ON кк.Ид_лаборанта = пол.Ид_пользователя
WHERE кк.Решение = 'заблокирована';
GO
/****** Object:  View [dbo].[v_ОтчетПоОтклонениям]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_ОтчетПоОтклонениям]
AS
SELECT 
    пп.Номер_партии,
    вш.Номер_шага,
    вш.Наименование_шага,
    вш.Температура_план_C,
    вш.Температура_факт_C,
    CASE 
        WHEN вш.Температура_план_C IS NOT NULL 
        THEN (вш.Температура_факт_C - вш.Температура_план_C)
        ELSE NULL 
    END AS Отклонение_температуры,
    вш.Длительность_план_мин,
    вш.Длительность_факт_мин,
    CASE 
        WHEN вш.Длительность_план_мин IS NOT NULL 
        THEN (вш.Длительность_факт_мин - вш.Длительность_план_мин)
        ELSE NULL 
    END AS Отклонение_длительности,
    вш.Комментарий_оператора,
    вш.Время_начала_шага,
    вш.Время_окончания_шага
FROM Выполнение_шагов вш
INNER JOIN Производственные_партии пп ON вш.Ид_партии = пп.Ид_партии
WHERE вш.Есть_отклонение = 1;
GO
/****** Object:  View [dbo].[v_ОтчетПоПартиям]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_ОтчетПоПартиям]
AS
SELECT 
    пп.Номер_партии,
    пр.Наименование_продукта,
    пп.Время_начала,
    пп.Время_окончания,
    пп.Статус,
    пп.Есть_отклонения AS Есть_отклонения,
    пп.Факт_количество_кг,
    пз.План_количество_кг,
    CASE 
        WHEN пз.План_количество_кг > 0 
        THEN (пп.Факт_количество_кг / пз.План_количество_кг * 100)
        ELSE 0 
    END AS Процент_выполнения,
    -- Лабораторное решение
    (
        SELECT TOP 1 Решение 
        FROM Контроль_качества кк 
        WHERE кк.Ид_партии = пп.Ид_партии 
          AND кк.Тип_образца = 'готовая_продукция'
          AND кк.Решение IS NOT NULL
        ORDER BY кк.Дата_анализа DESC
    ) AS Лабораторное_решение
FROM Производственные_партии пп
INNER JOIN Производственные_заказы пз ON пп.Ид_заказа = пз.Ид_заказа
INNER JOIN Рецептуры р ON пз.Ид_рецептуры = р.Ид_рецептуры
INNER JOIN Продукция пр ON р.Ид_продукта = пр.Ид_продукта;
GO
/****** Object:  View [dbo].[v_ОтчетПоРецептурам]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_ОтчетПоРецептурам]
AS
SELECT 
    пр.Наименование_продукта,
    р.Версия AS Версия_рецептуры,
    р.Статус AS Статус_рецептуры,
    COUNT(DISTINCT пп.Ид_партии) AS Количество_партий,
    ISNULL(SUM(пп.Факт_количество_кг), 0) AS Объем_производства_кг,
    ISNULL(AVG(пп.Факт_количество_кг), 0) AS Средний_размер_партии_кг
FROM Рецептуры р
INNER JOIN Продукция пр ON р.Ид_продукта = пр.Ид_продукта
INNER JOIN Производственные_заказы пз ON р.Ид_рецептуры = пз.Ид_рецептуры
LEFT JOIN Производственные_партии пп ON пз.Ид_заказа = пп.Ид_заказа
GROUP BY пр.Наименование_продукта, р.Версия, р.Статус;
GO
/****** Object:  View [dbo].[v_ПартииСырьяДляЛаборатории]    Script Date: 19.05.2026 14:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_ПартииСырьяДляЛаборатории]
AS
SELECT 
    пс.Ид_партии_сырья,
    пс.Номер_партии,
    с.Наименование_сырья,
    с.Категория,
    пс.Поставщик,
    пс.Дата_поступления,
    пс.Количество,
    пс.Единица_измерения,
    пс.Лабораторный_статус,
    -- Наличие испытания
    CASE 
        WHEN EXISTS (SELECT 1 FROM Контроль_качества WHERE Ид_партии_сырья = пс.Ид_партии_сырья)
        THEN 1 ELSE 0 
    END AS Есть_испытание,
    -- Дата последнего испытания
    (
        SELECT TOP 1 Дата_анализа
        FROM Контроль_качества
        WHERE Ид_партии_сырья = пс.Ид_партии_сырья
        ORDER BY Дата_анализа DESC
    ) AS Дата_последнего_испытания
FROM Партии_сырья пс
INNER JOIN Сырье с ON пс.Ид_сырья = с.Ид_сырья;
GO
SET IDENTITY_INSERT [dbo].[Выполнение_шагов] ON 

INSERT [dbo].[Выполнение_шагов] ([Ид_выполнения], [Ид_партии], [Номер_шага], [Наименование_шага], [Температура_план_C], [Длительность_план_мин], [Давление_план_бар], [Температура_факт_C], [Длительность_факт_мин], [Давление_факт_бар], [Время_начала_шага], [Время_окончания_шага], [Есть_отклонение], [Комментарий_оператора], [Кем_начат], [Кем_завершен]) VALUES (1, 1, 1, N'Смешивание', CAST(45.00 AS Decimal(8, 2)), 30, CAST(1.50 AS Decimal(8, 2)), CAST(44.80 AS Decimal(8, 2)), 32, CAST(1.50 AS Decimal(8, 2)), NULL, NULL, 0, N'OK', NULL, NULL)
INSERT [dbo].[Выполнение_шагов] ([Ид_выполнения], [Ид_партии], [Номер_шага], [Наименование_шага], [Температура_план_C], [Длительность_план_мин], [Давление_план_бар], [Температура_факт_C], [Длительность_факт_мин], [Давление_факт_бар], [Время_начала_шага], [Время_окончания_шага], [Есть_отклонение], [Комментарий_оператора], [Кем_начат], [Кем_завершен]) VALUES (2, 1, 2, N'Выдержка', CAST(60.00 AS Decimal(8, 2)), 120, CAST(2.00 AS Decimal(8, 2)), CAST(59.50 AS Decimal(8, 2)), 118, CAST(1.90 AS Decimal(8, 2)), NULL, NULL, 0, N'Незначительное отклонение', NULL, NULL)
INSERT [dbo].[Выполнение_шагов] ([Ид_выполнения], [Ид_партии], [Номер_шага], [Наименование_шага], [Температура_план_C], [Длительность_план_мин], [Давление_план_бар], [Температура_факт_C], [Длительность_факт_мин], [Давление_факт_бар], [Время_начала_шага], [Время_окончания_шага], [Есть_отклонение], [Комментарий_оператора], [Кем_начат], [Кем_завершен]) VALUES (3, 1, 3, N'Экструзия', CAST(80.00 AS Decimal(8, 2)), 45, CAST(3.00 AS Decimal(8, 2)), CAST(78.20 AS Decimal(8, 2)), 47, CAST(2.80 AS Decimal(8, 2)), NULL, NULL, 1, N'Температура ниже нормы', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Выполнение_шагов] OFF
GO
SET IDENTITY_INSERT [dbo].[Контроль_качества] ON 

INSERT [dbo].[Контроль_качества] ([Ид_контроля], [Ид_партии], [Ид_партии_сырья], [Дата_анализа], [Тип_образца], [Наименование_параметра], [Значение_факт], [Значение_норма], [Единица_измерения], [Результат], [Решение], [Комментарий_лаборанта], [Ид_лаборанта], [Дата_создания]) VALUES (1, 1, NULL, CAST(N'2025-01-03T15:00:00.000' AS DateTime), N'готовая_продукция', N'концентрация', N'98.2', N'97', N'%', N'соответствует', N'разрешена', N'Соответствует норме', 6, CAST(N'2026-05-06T10:09:30.997' AS DateTime))
INSERT [dbo].[Контроль_качества] ([Ид_контроля], [Ид_партии], [Ид_партии_сырья], [Дата_анализа], [Тип_образца], [Наименование_параметра], [Значение_факт], [Значение_норма], [Единица_измерения], [Результат], [Решение], [Комментарий_лаборанта], [Ид_лаборанта], [Дата_создания]) VALUES (2, 1, NULL, CAST(N'2025-01-03T08:30:00.000' AS DateTime), N'сырье', N'влажность', N'2.1', N'2.5', N'%', N'соответствует', NULL, N'OK', 6, CAST(N'2026-05-06T10:09:30.997' AS DateTime))
INSERT [dbo].[Контроль_качества] ([Ид_контроля], [Ид_партии], [Ид_партии_сырья], [Дата_анализа], [Тип_образца], [Наименование_параметра], [Значение_факт], [Значение_норма], [Единица_измерения], [Результат], [Решение], [Комментарий_лаборанта], [Ид_лаборанта], [Дата_создания]) VALUES (3, 2, NULL, CAST(N'2025-02-03T15:30:00.000' AS DateTime), N'готовая_продукция', N'концентрация', N'96.5', N'97', N'%', N'не_соответствует', N'заблокирована', N'Низкая концентрация', 7, CAST(N'2026-05-06T10:09:30.997' AS DateTime))
SET IDENTITY_INSERT [dbo].[Контроль_качества] OFF
GO
SET IDENTITY_INSERT [dbo].[Оборудование] ON 

INSERT [dbo].[Оборудование] ([Ид_оборудования], [Код_оборудования], [Наименование_оборудования], [Местоположение], [Активен], [Дата_создания]) VALUES (1, N'EXTR-01', N'Экструдер двухшнековый', N'Цех №1, Линия А', 1, CAST(N'2026-05-06T10:09:30.917' AS DateTime))
INSERT [dbo].[Оборудование] ([Ид_оборудования], [Код_оборудования], [Наименование_оборудования], [Местоположение], [Активен], [Дата_создания]) VALUES (2, N'MIX-01', N'Смеситель вертикальный 5000л', N'Цех №1, Линия А', 1, CAST(N'2026-05-06T10:09:30.917' AS DateTime))
INSERT [dbo].[Оборудование] ([Ид_оборудования], [Код_оборудования], [Наименование_оборудования], [Местоположение], [Активен], [Дата_создания]) VALUES (3, N'COOL-01', N'Охладитель барабанный', N'Цех №1, Линия А', 1, CAST(N'2026-05-06T10:09:30.917' AS DateTime))
SET IDENTITY_INSERT [dbo].[Оборудование] OFF
GO
SET IDENTITY_INSERT [dbo].[Партии_сырья] ON 

INSERT [dbo].[Партии_сырья] ([Ид_партии_сырья], [Ид_сырья], [Номер_партии], [Номер_партии_поставщика], [Поставщик], [Количество], [Единица_измерения], [Дата_поступления], [Лабораторный_статус], [Кем_принято_решение], [Дата_решения], [Комментарий_решения], [Дата_создания]) VALUES (1, 1, N'RAW-001', NULL, N'ХимПром', CAST(1000.00 AS Decimal(12, 2)), N'кг', CAST(N'2025-03-01' AS Date), N'разрешена', NULL, NULL, NULL, CAST(N'2026-05-06T10:09:30.990' AS DateTime))
INSERT [dbo].[Партии_сырья] ([Ид_партии_сырья], [Ид_сырья], [Номер_партии], [Номер_партии_поставщика], [Поставщик], [Количество], [Единица_измерения], [Дата_поступления], [Лабораторный_статус], [Кем_принято_решение], [Дата_решения], [Комментарий_решения], [Дата_создания]) VALUES (2, 2, N'RAW-002', NULL, N'ТехноХим', CAST(500.00 AS Decimal(12, 2)), N'кг', CAST(N'2025-03-02' AS Date), N'разрешена', NULL, NULL, NULL, CAST(N'2026-05-06T10:09:30.990' AS DateTime))
INSERT [dbo].[Партии_сырья] ([Ид_партии_сырья], [Ид_сырья], [Номер_партии], [Номер_партии_поставщика], [Поставщик], [Количество], [Единица_измерения], [Дата_поступления], [Лабораторный_статус], [Кем_принято_решение], [Дата_решения], [Комментарий_решения], [Дата_создания]) VALUES (3, 3, N'RAW-003', NULL, N'АгроСнаб', CAST(200.00 AS Decimal(12, 2)), N'л', CAST(N'2025-03-03' AS Date), N'ожидает', NULL, NULL, NULL, CAST(N'2026-05-06T10:09:30.990' AS DateTime))
SET IDENTITY_INSERT [dbo].[Партии_сырья] OFF
GO
SET IDENTITY_INSERT [dbo].[Подразделения] ON 

INSERT [dbo].[Подразделения] ([Ид_подразделения], [Наименование_подразделения], [Ид_родительского_подразделения], [Дата_создания]) VALUES (1, N'Технологический отдел', NULL, CAST(N'2026-05-06T10:09:30.877' AS DateTime))
INSERT [dbo].[Подразделения] ([Ид_подразделения], [Наименование_подразделения], [Ид_родительского_подразделения], [Дата_создания]) VALUES (2, N'Цех №1', NULL, CAST(N'2026-05-06T10:09:30.877' AS DateTime))
INSERT [dbo].[Подразделения] ([Ид_подразделения], [Наименование_подразделения], [Ид_родительского_подразделения], [Дата_создания]) VALUES (3, N'Цех №2', NULL, CAST(N'2026-05-06T10:09:30.877' AS DateTime))
SET IDENTITY_INSERT [dbo].[Подразделения] OFF
GO
SET IDENTITY_INSERT [dbo].[Пользователи] ON 

INSERT [dbo].[Пользователи] ([Ид_пользователя], [Логин], [Хэш_пароля], [ФИО], [Ид_роли], [Ид_подразделения], [Email], [Телефон], [Активен], [Последний_вход], [Дата_создания], [Кем_создан]) VALUES (1, N'app.malykh', N'1', N'Малых Сергей Павлович', 1, 1, N'@dsdadadada.saa@gmail.com', N'+7 (495) 123-45-01', 1, NULL, CAST(N'2026-05-06T10:09:30.893' AS DateTime), NULL)
INSERT [dbo].[Пользователи] ([Ид_пользователя], [Логин], [Хэш_пароля], [ФИО], [Ид_роли], [Ид_подразделения], [Email], [Телефон], [Активен], [Последний_вход], [Дата_создания], [Кем_создан]) VALUES (2, N'tech.petrova', N'$2a$10$N9qo8uLOickgx2ZMRZoMy.Mr7wqY6j5JkZ3vP6q4L8x9Y5Q2wE7Ku', N'Петрова Мария Сергеевна', 1, 1, N'maria.petrova@agrocontrol.ru', N'+7 (495) 123-45-02', 1, NULL, CAST(N'2026-05-06T10:09:30.893' AS DateTime), NULL)
INSERT [dbo].[Пользователи] ([Ид_пользователя], [Логин], [Хэш_пароля], [ФИО], [Ид_роли], [Ид_подразделения], [Email], [Телефон], [Активен], [Последний_вход], [Дата_создания], [Кем_создан]) VALUES (3, N'tech.smirnov', N'$2a$10$N9qo8uLOickgx2ZMRZoMy.Mr7wqY6j5JkZ3vP6q4L8x9Y5Q2wE7Ku', N'Смирнов Алексей Викторович', 1, 1, N'alexey.smirnov@agrocontrol.ru', N'+7 (495) 123-45-03', 1, NULL, CAST(N'2026-05-06T10:09:30.893' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Пользователи] OFF
GO
SET IDENTITY_INSERT [dbo].[Продукция] ON 

INSERT [dbo].[Продукция] ([Ид_продукта], [Код_продукта], [Наименование_продукта], [Ид_типа_продукции], [Форма_выпуска], [Статус], [Дата_создания], [Кем_создан], [Дата_обновления], [Кем_обновлен]) VALUES (1, N'HERB-A-01', N'Гербицид А', 1, N'Жидкость', N'активен', CAST(N'2026-05-06T10:09:30.907' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Продукция] ([Ид_продукта], [Код_продукта], [Наименование_продукта], [Ид_типа_продукции], [Форма_выпуска], [Статус], [Дата_создания], [Кем_создан], [Дата_обновления], [Кем_обновлен]) VALUES (2, N'INSE-B-01', N'Инсектицид Б', 2, N'Концентрат', N'активен', CAST(N'2026-05-06T10:09:30.907' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Продукция] ([Ид_продукта], [Код_продукта], [Наименование_продукта], [Ид_типа_продукции], [Форма_выпуска], [Статус], [Дата_создания], [Кем_создан], [Дата_обновления], [Кем_обновлен]) VALUES (3, N'FUNG-C-01', N'Фунгицид В', 3, N'Порошок', N'активен', CAST(N'2026-05-06T10:09:30.907' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Продукция] OFF
GO
SET IDENTITY_INSERT [dbo].[Производственные_заказы] ON 

INSERT [dbo].[Производственные_заказы] ([Ид_заказа], [Номер_заказа], [Ид_рецептуры], [План_количество_кг], [Статус], [Плановая_дата_начала], [Кем_создан], [Дата_создания]) VALUES (1, N'PO-2401', 2, CAST(1000.00 AS Decimal(12, 2)), N'завершен', CAST(N'2025-03-01' AS Date), 1, CAST(N'2026-05-06T10:09:30.970' AS DateTime))
INSERT [dbo].[Производственные_заказы] ([Ид_заказа], [Номер_заказа], [Ид_рецептуры], [План_количество_кг], [Статус], [Плановая_дата_начала], [Кем_создан], [Дата_создания]) VALUES (2, N'PO-2402', 4, CAST(500.00 AS Decimal(12, 2)), N'выполняется', CAST(N'2025-03-03' AS Date), 1, CAST(N'2026-05-06T10:09:30.970' AS DateTime))
INSERT [dbo].[Производственные_заказы] ([Ид_заказа], [Номер_заказа], [Ид_рецептуры], [План_количество_кг], [Статус], [Плановая_дата_начала], [Кем_создан], [Дата_создания]) VALUES (3, N'PO-2404', 2, CAST(800.00 AS Decimal(12, 2)), N'выполняется', CAST(N'2025-03-04' AS Date), 1, CAST(N'2026-05-06T10:09:30.970' AS DateTime))
SET IDENTITY_INSERT [dbo].[Производственные_заказы] OFF
GO
SET IDENTITY_INSERT [dbo].[Производственные_партии] ON 

INSERT [dbo].[Производственные_партии] ([Ид_партии], [Номер_партии], [Ид_заказа], [Время_начала], [Время_окончания], [Статус], [Факт_количество_кг], [Есть_отклонения], [Дата_создания], [Кем_запущена], [Кем_завершена]) VALUES (1, N'B-2401-01', 1, CAST(N'2025-01-03T08:00:00.000' AS DateTime), CAST(N'2025-01-03T14:30:00.000' AS DateTime), N'завершена', CAST(998.00 AS Decimal(12, 2)), 0, CAST(N'2026-05-06T10:09:30.977' AS DateTime), NULL, NULL)
INSERT [dbo].[Производственные_партии] ([Ид_партии], [Номер_партии], [Ид_заказа], [Время_начала], [Время_окончания], [Статус], [Факт_количество_кг], [Есть_отклонения], [Дата_создания], [Кем_запущена], [Кем_завершена]) VALUES (2, N'B-2401-02', 1, CAST(N'2025-02-03T08:15:00.000' AS DateTime), CAST(N'2025-02-03T15:00:00.000' AS DateTime), N'завершена', CAST(1002.00 AS Decimal(12, 2)), 0, CAST(N'2026-05-06T10:09:30.977' AS DateTime), NULL, NULL)
INSERT [dbo].[Производственные_партии] ([Ид_партии], [Номер_партии], [Ид_заказа], [Время_начала], [Время_окончания], [Статус], [Факт_количество_кг], [Есть_отклонения], [Дата_создания], [Кем_запущена], [Кем_завершена]) VALUES (3, N'B-2402-01', 2, CAST(N'2025-03-03T09:00:00.000' AS DateTime), NULL, N'выполняется', CAST(250.00 AS Decimal(12, 2)), 0, CAST(N'2026-05-06T10:09:30.977' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Производственные_партии] OFF
GO
SET IDENTITY_INSERT [dbo].[Рецептуры] ON 

INSERT [dbo].[Рецептуры] ([Ид_рецептуры], [Ид_продукта], [Версия], [Наименование], [Статус], [Кем_создан], [Дата_создания], [Кем_утвержден], [Дата_утверждения], [Кем_архивирован], [Дата_архивации]) VALUES (1, 1, 1, N'Гербицид А версия 1', N'архивная', 1, CAST(N'2026-05-06T10:09:30.927' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[Рецептуры] ([Ид_рецептуры], [Ид_продукта], [Версия], [Наименование], [Статус], [Кем_создан], [Дата_создания], [Кем_утвержден], [Дата_утверждения], [Кем_архивирован], [Дата_архивации]) VALUES (2, 1, 2, N'Гербицид А версия 2', N'активна', 1, CAST(N'2026-05-06T10:09:30.927' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[Рецептуры] ([Ид_рецептуры], [Ид_продукта], [Версия], [Наименование], [Статус], [Кем_создан], [Дата_создания], [Кем_утвержден], [Дата_утверждения], [Кем_архивирован], [Дата_архивации]) VALUES (3, 2, 1, N'Инсектицид Б версия 1', N'архивная', 2, CAST(N'2026-05-06T10:09:30.927' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Рецептуры] OFF
GO
SET IDENTITY_INSERT [dbo].[Роли] ON 

INSERT [dbo].[Роли] ([Ид_роли], [Наименование_роли], [Описание_роли], [Дата_создания]) VALUES (1, N'технолог', N'Специалист технологического отдела', CAST(N'2026-05-06T10:09:30.870' AS DateTime))
INSERT [dbo].[Роли] ([Ид_роли], [Наименование_роли], [Описание_роли], [Дата_создания]) VALUES (2, N'оператор', N'Аппаратчик производственного цеха', CAST(N'2026-05-06T10:09:30.870' AS DateTime))
INSERT [dbo].[Роли] ([Ид_роли], [Наименование_роли], [Описание_роли], [Дата_создания]) VALUES (3, N'лаборант', N'Сотрудник лаборатории контроля качества', CAST(N'2026-05-06T10:09:30.870' AS DateTime))
SET IDENTITY_INSERT [dbo].[Роли] OFF
GO
SET IDENTITY_INSERT [dbo].[Состав_рецептуры] ON 

INSERT [dbo].[Состав_рецептуры] ([Ид_компонента], [Ид_рецептуры], [Ид_сырья], [Доля_процент], [Порядок_загрузки], [Допуск_мин], [Допуск_макс]) VALUES (1, 2, 1, CAST(45.0000 AS Decimal(10, 4)), 1, CAST(0.0000 AS Decimal(10, 4)), CAST(0.0000 AS Decimal(10, 4)))
INSERT [dbo].[Состав_рецептуры] ([Ид_компонента], [Ид_рецептуры], [Ид_сырья], [Доля_процент], [Порядок_загрузки], [Допуск_мин], [Допуск_макс]) VALUES (2, 2, 3, CAST(35.0000 AS Decimal(10, 4)), 2, CAST(0.0000 AS Decimal(10, 4)), CAST(0.0000 AS Decimal(10, 4)))
INSERT [dbo].[Состав_рецептуры] ([Ид_компонента], [Ид_рецептуры], [Ид_сырья], [Доля_процент], [Порядок_загрузки], [Допуск_мин], [Допуск_макс]) VALUES (3, 2, 5, CAST(15.0000 AS Decimal(10, 4)), 3, CAST(0.0000 AS Decimal(10, 4)), CAST(0.0000 AS Decimal(10, 4)))
SET IDENTITY_INSERT [dbo].[Состав_рецептуры] OFF
GO
SET IDENTITY_INSERT [dbo].[Сырье] ON 

INSERT [dbo].[Сырье] ([Ид_сырья], [Код_сырья], [Наименование_сырья], [Единица_измерения], [Категория], [Активен], [Дата_создания]) VALUES (1, N'ACT-001', N'Действующее вещество А', N'кг', N'активное вещество', 1, CAST(N'2026-05-06T10:09:30.910' AS DateTime))
INSERT [dbo].[Сырье] ([Ид_сырья], [Код_сырья], [Наименование_сырья], [Единица_измерения], [Категория], [Активен], [Дата_создания]) VALUES (2, N'ACT-002', N'Действующее вещество Б', N'кг', N'активное вещество', 1, CAST(N'2026-05-06T10:09:30.910' AS DateTime))
INSERT [dbo].[Сырье] ([Ид_сырья], [Код_сырья], [Наименование_сырья], [Единица_измерения], [Категория], [Активен], [Дата_создания]) VALUES (3, N'SOLV-001', N'Растворитель органический', N'л', N'растворитель', 1, CAST(N'2026-05-06T10:09:30.910' AS DateTime))
SET IDENTITY_INSERT [dbo].[Сырье] OFF
GO
SET IDENTITY_INSERT [dbo].[Технологические_карты] ON 

INSERT [dbo].[Технологические_карты] ([Ид_техкарты], [Ид_продукта], [Версия], [Наименование], [Статус], [Кем_создан], [Дата_создания], [Кем_утвержден], [Дата_утверждения]) VALUES (1, 1, 1, N'ТК Гербицид А', N'активна', 1, CAST(N'2026-05-06T10:09:30.953' AS DateTime), NULL, NULL)
INSERT [dbo].[Технологические_карты] ([Ид_техкарты], [Ид_продукта], [Версия], [Наименование], [Статус], [Кем_создан], [Дата_создания], [Кем_утвержден], [Дата_утверждения]) VALUES (2, 2, 1, N'ТК Инсектицид Б', N'активна', 2, CAST(N'2026-05-06T10:09:30.953' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Технологические_карты] OFF
GO
SET IDENTITY_INSERT [dbo].[Типы_продукции] ON 

INSERT [dbo].[Типы_продукции] ([Ид_типа_продукции], [Наименование_типа], [Код_типа]) VALUES (1, N'Гербицид', N'HERB')
INSERT [dbo].[Типы_продукции] ([Ид_типа_продукции], [Наименование_типа], [Код_типа]) VALUES (2, N'Инсектицид', N'INSE')
INSERT [dbo].[Типы_продукции] ([Ид_типа_продукции], [Наименование_типа], [Код_типа]) VALUES (3, N'Фунгицид', N'FUNG')
SET IDENTITY_INSERT [dbo].[Типы_продукции] OFF
GO
SET IDENTITY_INSERT [dbo].[Типы_событий] ON 

INSERT [dbo].[Типы_событий] ([Ид_типа_события], [Наименование_типа], [Уровень_важности]) VALUES (1, N'Запуск партии', 1)
INSERT [dbo].[Типы_событий] ([Ид_типа_события], [Наименование_типа], [Уровень_важности]) VALUES (2, N'Завершение партии', 1)
INSERT [dbo].[Типы_событий] ([Ид_типа_события], [Наименование_типа], [Уровень_важности]) VALUES (3, N'Отклонение параметра', 2)
SET IDENTITY_INSERT [dbo].[Типы_событий] OFF
GO
SET IDENTITY_INSERT [dbo].[Шаги_техкарты] ON 

INSERT [dbo].[Шаги_техкарты] ([Ид_шага], [Ид_техкарты], [Номер_шага], [Наименование_шага], [Тип_шага], [Температура_план_C], [Допуск_температуры_C], [Давление_план_бар], [Допуск_давления_бар], [Длительность_план_мин], [Допуск_длительности_мин], [Обязательный_шаг], [Инструкция], [Ид_оборудования]) VALUES (1, 1, 1, N'Смешивание компонентов', N'Смешивание', CAST(45.00 AS Decimal(8, 2)), NULL, CAST(1.50 AS Decimal(8, 2)), NULL, 30, NULL, 1, NULL, 2)
INSERT [dbo].[Шаги_техкарты] ([Ид_шага], [Ид_техкарты], [Номер_шага], [Наименование_шага], [Тип_шага], [Температура_план_C], [Допуск_температуры_C], [Давление_план_бар], [Допуск_давления_бар], [Длительность_план_мин], [Допуск_длительности_мин], [Обязательный_шаг], [Инструкция], [Ид_оборудования]) VALUES (2, 1, 2, N'Выдержка при температуре', N'Выдержка', CAST(60.00 AS Decimal(8, 2)), NULL, CAST(2.00 AS Decimal(8, 2)), NULL, 120, NULL, 1, NULL, NULL)
INSERT [dbo].[Шаги_техкарты] ([Ид_шага], [Ид_техкарты], [Номер_шага], [Наименование_шага], [Тип_шага], [Температура_план_C], [Допуск_температуры_C], [Давление_план_бар], [Допуск_давления_бар], [Длительность_план_мин], [Допуск_длительности_мин], [Обязательный_шаг], [Инструкция], [Ид_оборудования]) VALUES (3, 1, 3, N'Экструзия смеси', N'Экструзия', CAST(80.00 AS Decimal(8, 2)), NULL, CAST(3.00 AS Decimal(8, 2)), NULL, 45, NULL, 1, NULL, 1)
SET IDENTITY_INSERT [dbo].[Шаги_техкарты] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Оборудов__0BFDDF1F2470AED9]    Script Date: 19.05.2026 14:07:43 ******/
ALTER TABLE [dbo].[Оборудование] ADD UNIQUE NONCLUSTERED 
(
	[Код_оборудования] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ПартияСырья_Номер]    Script Date: 19.05.2026 14:07:43 ******/
ALTER TABLE [dbo].[Партии_сырья] ADD  CONSTRAINT [UQ_ПартияСырья_Номер] UNIQUE NONCLUSTERED 
(
	[Номер_партии] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Подразде__155BA2630ADD730C]    Script Date: 19.05.2026 14:07:43 ******/
ALTER TABLE [dbo].[Подразделения] ADD UNIQUE NONCLUSTERED 
(
	[Наименование_подразделения] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Пользова__BC2217D3656B6D47]    Script Date: 19.05.2026 14:07:43 ******/
ALTER TABLE [dbo].[Пользователи] ADD UNIQUE NONCLUSTERED 
(
	[Логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Продукци__D0E029003DD590E9]    Script Date: 19.05.2026 14:07:43 ******/
ALTER TABLE [dbo].[Продукция] ADD UNIQUE NONCLUSTERED 
(
	[Код_продукта] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Производ__8D170B9A198A194C]    Script Date: 19.05.2026 14:07:43 ******/
ALTER TABLE [dbo].[Производственные_заказы] ADD UNIQUE NONCLUSTERED 
(
	[Номер_заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Производ__7A51330BC7D506B3]    Script Date: 19.05.2026 14:07:43 ******/
ALTER TABLE [dbo].[Производственные_партии] ADD UNIQUE NONCLUSTERED 
(
	[Номер_партии] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Рецептура_Продукт_Версия]    Script Date: 19.05.2026 14:07:43 ******/
ALTER TABLE [dbo].[Рецептуры] ADD  CONSTRAINT [UQ_Рецептура_Продукт_Версия] UNIQUE NONCLUSTERED 
(
	[Ид_продукта] ASC,
	[Версия] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Роли__A1B2FC6F53FEBD7E]    Script Date: 19.05.2026 14:07:43 ******/
ALTER TABLE [dbo].[Роли] ADD UNIQUE NONCLUSTERED 
(
	[Наименование_роли] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Состав_Рецептура_Сырье]    Script Date: 19.05.2026 14:07:43 ******/
ALTER TABLE [dbo].[Состав_рецептуры] ADD  CONSTRAINT [UQ_Состав_Рецептура_Сырье] UNIQUE NONCLUSTERED 
(
	[Ид_рецептуры] ASC,
	[Ид_сырья] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Сырье__D20217C01045E402]    Script Date: 19.05.2026 14:07:43 ******/
ALTER TABLE [dbo].[Сырье] ADD UNIQUE NONCLUSTERED 
(
	[Код_сырья] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Техкарта_Продукт_Версия]    Script Date: 19.05.2026 14:07:43 ******/
ALTER TABLE [dbo].[Технологические_карты] ADD  CONSTRAINT [UQ_Техкарта_Продукт_Версия] UNIQUE NONCLUSTERED 
(
	[Ид_продукта] ASC,
	[Версия] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Типы_про__90C752427455BA99]    Script Date: 19.05.2026 14:07:43 ******/
ALTER TABLE [dbo].[Типы_продукции] ADD UNIQUE NONCLUSTERED 
(
	[Код_типа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Типы_про__9F752A58C82136B7]    Script Date: 19.05.2026 14:07:43 ******/
ALTER TABLE [dbo].[Типы_продукции] ADD UNIQUE NONCLUSTERED 
(
	[Наименование_типа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Типы_соб__9F752A584A7F7401]    Script Date: 19.05.2026 14:07:43 ******/
ALTER TABLE [dbo].[Типы_событий] ADD UNIQUE NONCLUSTERED 
(
	[Наименование_типа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Выполнение_шагов] ADD  DEFAULT ((0)) FOR [Есть_отклонение]
GO
ALTER TABLE [dbo].[Журнал_событий] ADD  DEFAULT (getdate()) FOR [Дата_создания]
GO
ALTER TABLE [dbo].[История_статусов] ADD  DEFAULT (getdate()) FOR [Дата_изменения]
GO
ALTER TABLE [dbo].[Контроль_качества] ADD  DEFAULT (getdate()) FOR [Дата_создания]
GO
ALTER TABLE [dbo].[Оборудование] ADD  DEFAULT ((1)) FOR [Активен]
GO
ALTER TABLE [dbo].[Оборудование] ADD  DEFAULT (getdate()) FOR [Дата_создания]
GO
ALTER TABLE [dbo].[Партии_сырья] ADD  DEFAULT ('ожидает') FOR [Лабораторный_статус]
GO
ALTER TABLE [dbo].[Партии_сырья] ADD  DEFAULT (getdate()) FOR [Дата_создания]
GO
ALTER TABLE [dbo].[Подразделения] ADD  DEFAULT (getdate()) FOR [Дата_создания]
GO
ALTER TABLE [dbo].[Пользователи] ADD  DEFAULT ((1)) FOR [Активен]
GO
ALTER TABLE [dbo].[Пользователи] ADD  DEFAULT (getdate()) FOR [Дата_создания]
GO
ALTER TABLE [dbo].[Продукция] ADD  DEFAULT ('активен') FOR [Статус]
GO
ALTER TABLE [dbo].[Продукция] ADD  DEFAULT (getdate()) FOR [Дата_создания]
GO
ALTER TABLE [dbo].[Производственные_заказы] ADD  DEFAULT ('черновик') FOR [Статус]
GO
ALTER TABLE [dbo].[Производственные_заказы] ADD  DEFAULT (getdate()) FOR [Дата_создания]
GO
ALTER TABLE [dbo].[Производственные_партии] ADD  DEFAULT ('запланирована') FOR [Статус]
GO
ALTER TABLE [dbo].[Производственные_партии] ADD  DEFAULT ((0)) FOR [Есть_отклонения]
GO
ALTER TABLE [dbo].[Производственные_партии] ADD  DEFAULT (getdate()) FOR [Дата_создания]
GO
ALTER TABLE [dbo].[Рецептуры] ADD  DEFAULT ('черновик') FOR [Статус]
GO
ALTER TABLE [dbo].[Рецептуры] ADD  DEFAULT (getdate()) FOR [Дата_создания]
GO
ALTER TABLE [dbo].[Роли] ADD  DEFAULT (getdate()) FOR [Дата_создания]
GO
ALTER TABLE [dbo].[Состав_рецептуры] ADD  DEFAULT ((0)) FOR [Допуск_мин]
GO
ALTER TABLE [dbo].[Состав_рецептуры] ADD  DEFAULT ((0)) FOR [Допуск_макс]
GO
ALTER TABLE [dbo].[Сырье] ADD  DEFAULT ((1)) FOR [Активен]
GO
ALTER TABLE [dbo].[Сырье] ADD  DEFAULT (getdate()) FOR [Дата_создания]
GO
ALTER TABLE [dbo].[Технологические_карты] ADD  DEFAULT ('черновик') FOR [Статус]
GO
ALTER TABLE [dbo].[Технологические_карты] ADD  DEFAULT (getdate()) FOR [Дата_создания]
GO
ALTER TABLE [dbo].[Типы_событий] ADD  DEFAULT ((1)) FOR [Уровень_важности]
GO
ALTER TABLE [dbo].[Шаги_техкарты] ADD  DEFAULT ((1)) FOR [Обязательный_шаг]
GO
ALTER TABLE [dbo].[Выполнение_шагов]  WITH CHECK ADD FOREIGN KEY([Ид_партии])
REFERENCES [dbo].[Производственные_партии] ([Ид_партии])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Выполнение_шагов]  WITH CHECK ADD FOREIGN KEY([Кем_завершен])
REFERENCES [dbo].[Пользователи] ([Ид_пользователя])
GO
ALTER TABLE [dbo].[Выполнение_шагов]  WITH CHECK ADD FOREIGN KEY([Кем_начат])
REFERENCES [dbo].[Пользователи] ([Ид_пользователя])
GO
ALTER TABLE [dbo].[Журнал_событий]  WITH CHECK ADD FOREIGN KEY([Ид_партии])
REFERENCES [dbo].[Производственные_партии] ([Ид_партии])
GO
ALTER TABLE [dbo].[Журнал_событий]  WITH CHECK ADD FOREIGN KEY([Ид_пользователя])
REFERENCES [dbo].[Пользователи] ([Ид_пользователя])
GO
ALTER TABLE [dbo].[Журнал_событий]  WITH CHECK ADD FOREIGN KEY([Ид_типа_события])
REFERENCES [dbo].[Типы_событий] ([Ид_типа_события])
GO
ALTER TABLE [dbo].[История_статусов]  WITH CHECK ADD FOREIGN KEY([Кем_изменен])
REFERENCES [dbo].[Пользователи] ([Ид_пользователя])
GO
ALTER TABLE [dbo].[Контроль_качества]  WITH CHECK ADD FOREIGN KEY([Ид_лаборанта])
REFERENCES [dbo].[Пользователи] ([Ид_пользователя])
GO
ALTER TABLE [dbo].[Контроль_качества]  WITH CHECK ADD FOREIGN KEY([Ид_партии])
REFERENCES [dbo].[Производственные_партии] ([Ид_партии])
GO
ALTER TABLE [dbo].[Контроль_качества]  WITH CHECK ADD FOREIGN KEY([Ид_партии_сырья])
REFERENCES [dbo].[Партии_сырья] ([Ид_партии_сырья])
GO
ALTER TABLE [dbo].[Партии_сырья]  WITH CHECK ADD FOREIGN KEY([Ид_сырья])
REFERENCES [dbo].[Сырье] ([Ид_сырья])
GO
ALTER TABLE [dbo].[Партии_сырья]  WITH CHECK ADD FOREIGN KEY([Кем_принято_решение])
REFERENCES [dbo].[Пользователи] ([Ид_пользователя])
GO
ALTER TABLE [dbo].[Партии_сырья_в_производстве]  WITH CHECK ADD FOREIGN KEY([Ид_партии])
REFERENCES [dbo].[Производственные_партии] ([Ид_партии])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Подразделения]  WITH CHECK ADD FOREIGN KEY([Ид_родительского_подразделения])
REFERENCES [dbo].[Подразделения] ([Ид_подразделения])
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD FOREIGN KEY([Ид_подразделения])
REFERENCES [dbo].[Подразделения] ([Ид_подразделения])
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD FOREIGN KEY([Ид_роли])
REFERENCES [dbo].[Роли] ([Ид_роли])
GO
ALTER TABLE [dbo].[Продукция]  WITH CHECK ADD FOREIGN KEY([Ид_типа_продукции])
REFERENCES [dbo].[Типы_продукции] ([Ид_типа_продукции])
GO
ALTER TABLE [dbo].[Продукция]  WITH CHECK ADD FOREIGN KEY([Кем_обновлен])
REFERENCES [dbo].[Пользователи] ([Ид_пользователя])
GO
ALTER TABLE [dbo].[Продукция]  WITH CHECK ADD FOREIGN KEY([Кем_создан])
REFERENCES [dbo].[Пользователи] ([Ид_пользователя])
GO
ALTER TABLE [dbo].[Производственные_заказы]  WITH CHECK ADD FOREIGN KEY([Ид_рецептуры])
REFERENCES [dbo].[Рецептуры] ([Ид_рецептуры])
GO
ALTER TABLE [dbo].[Производственные_заказы]  WITH CHECK ADD FOREIGN KEY([Кем_создан])
REFERENCES [dbo].[Пользователи] ([Ид_пользователя])
GO
ALTER TABLE [dbo].[Производственные_партии]  WITH CHECK ADD FOREIGN KEY([Ид_заказа])
REFERENCES [dbo].[Производственные_заказы] ([Ид_заказа])
GO
ALTER TABLE [dbo].[Производственные_партии]  WITH CHECK ADD FOREIGN KEY([Кем_запущена])
REFERENCES [dbo].[Пользователи] ([Ид_пользователя])
GO
ALTER TABLE [dbo].[Производственные_партии]  WITH CHECK ADD FOREIGN KEY([Кем_завершена])
REFERENCES [dbo].[Пользователи] ([Ид_пользователя])
GO
ALTER TABLE [dbo].[Рецептуры]  WITH CHECK ADD FOREIGN KEY([Ид_продукта])
REFERENCES [dbo].[Продукция] ([Ид_продукта])
GO
ALTER TABLE [dbo].[Рецептуры]  WITH CHECK ADD FOREIGN KEY([Кем_архивирован])
REFERENCES [dbo].[Пользователи] ([Ид_пользователя])
GO
ALTER TABLE [dbo].[Рецептуры]  WITH CHECK ADD FOREIGN KEY([Кем_создан])
REFERENCES [dbo].[Пользователи] ([Ид_пользователя])
GO
ALTER TABLE [dbo].[Рецептуры]  WITH CHECK ADD FOREIGN KEY([Кем_утвержден])
REFERENCES [dbo].[Пользователи] ([Ид_пользователя])
GO
ALTER TABLE [dbo].[Состав_рецептуры]  WITH CHECK ADD FOREIGN KEY([Ид_рецептуры])
REFERENCES [dbo].[Рецептуры] ([Ид_рецептуры])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Состав_рецептуры]  WITH CHECK ADD FOREIGN KEY([Ид_сырья])
REFERENCES [dbo].[Сырье] ([Ид_сырья])
GO
ALTER TABLE [dbo].[Технологические_карты]  WITH CHECK ADD FOREIGN KEY([Ид_продукта])
REFERENCES [dbo].[Продукция] ([Ид_продукта])
GO
ALTER TABLE [dbo].[Технологические_карты]  WITH CHECK ADD FOREIGN KEY([Кем_создан])
REFERENCES [dbo].[Пользователи] ([Ид_пользователя])
GO
ALTER TABLE [dbo].[Технологические_карты]  WITH CHECK ADD FOREIGN KEY([Кем_утвержден])
REFERENCES [dbo].[Пользователи] ([Ид_пользователя])
GO
ALTER TABLE [dbo].[Шаги_техкарты]  WITH CHECK ADD FOREIGN KEY([Ид_оборудования])
REFERENCES [dbo].[Оборудование] ([Ид_оборудования])
GO
ALTER TABLE [dbo].[Шаги_техкарты]  WITH CHECK ADD FOREIGN KEY([Ид_техкарты])
REFERENCES [dbo].[Технологические_карты] ([Ид_техкарты])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Контроль_качества]  WITH CHECK ADD CHECK  (([Ид_партии] IS NOT NULL OR [Ид_партии_сырья] IS NOT NULL))
GO
ALTER TABLE [dbo].[Контроль_качества]  WITH CHECK ADD  CONSTRAINT [CK_Контроль_Результат] CHECK  (([Результат]='не_соответствует' OR [Результат]='соответствует'))
GO
ALTER TABLE [dbo].[Контроль_качества] CHECK CONSTRAINT [CK_Контроль_Результат]
GO
ALTER TABLE [dbo].[Производственные_партии]  WITH CHECK ADD  CONSTRAINT [CK_Партия_Статус] CHECK  (([Статус]='отменена' OR [Статус]='заблокирована' OR [Статус]='завершена' OR [Статус]='выполняется' OR [Статус]='запланирована'))
GO
ALTER TABLE [dbo].[Производственные_партии] CHECK CONSTRAINT [CK_Партия_Статус]
GO
ALTER TABLE [dbo].[Рецептуры]  WITH CHECK ADD  CONSTRAINT [CK_Рецептура_Статус] CHECK  (([Статус]='архивная' OR [Статус]='активна' OR [Статус]='черновик'))
GO
ALTER TABLE [dbo].[Рецептуры] CHECK CONSTRAINT [CK_Рецептура_Статус]
GO
ALTER TABLE [dbo].[Состав_рецептуры]  WITH CHECK ADD CHECK  (([Доля_процент]>=(0) AND [Доля_процент]<=(100)))
GO
ALTER TABLE [dbo].[Состав_рецептуры]  WITH CHECK ADD  CONSTRAINT [CK_Доля_Процент] CHECK  (([Доля_процент]>=(0) AND [Доля_процент]<=(100)))
GO
ALTER TABLE [dbo].[Состав_рецептуры] CHECK CONSTRAINT [CK_Доля_Процент]
GO
USE [master]
GO
